body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1003px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:680px;
  width:327px;
  height:160px;
  font-size:14px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:160px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:338px;
  top:680px;
  width:327px;
  height:160px;
  font-size:14px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:160px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:676px;
  top:680px;
  width:327px;
  height:160px;
  font-size:14px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:160px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:529px;
  top:690px;
  width:200px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:33px;
  top:84px;
  width:715px;
  height:161px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:150px;
  top:0px;
  width:57px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:52px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:53px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:207px;
  top:0px;
  width:94px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:52px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:301px;
  top:0px;
  width:129px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:52px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:430px;
  top:0px;
  width:64px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:494px;
  top:0px;
  width:79px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:75px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:573px;
  top:0px;
  width:59px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:632px;
  top:0px;
  width:78px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:74px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:52px;
  width:75px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:75px;
  top:52px;
  width:75px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:150px;
  top:52px;
  width:57px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:52px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:53px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:207px;
  top:52px;
  width:94px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:52px;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:301px;
  top:52px;
  width:129px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:52px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:430px;
  top:52px;
  width:64px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u38 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:494px;
  top:52px;
  width:79px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:75px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:573px;
  top:52px;
  width:59px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u42 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:632px;
  top:52px;
  width:78px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u44 {
  position:absolute;
  left:2px;
  top:16px;
  width:74px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:104px;
  width:75px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:75px;
  top:104px;
  width:75px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:150px;
  top:104px;
  width:57px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:52px;
}
#u50 {
  position:absolute;
  left:2px;
  top:16px;
  width:53px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:207px;
  top:104px;
  width:94px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:52px;
}
#u52 {
  position:absolute;
  left:2px;
  top:16px;
  width:90px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:301px;
  top:104px;
  width:129px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:52px;
}
#u54 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:430px;
  top:104px;
  width:64px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u56 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:494px;
  top:104px;
  width:79px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
}
#u58 {
  position:absolute;
  left:2px;
  top:16px;
  width:75px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:573px;
  top:104px;
  width:59px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:632px;
  top:104px;
  width:78px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:74px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:468px;
  top:472px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:404px;
  top:472px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:360px;
  top:472px;
  width:34px;
  height:17px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:316px;
  top:472px;
  width:34px;
  height:17px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:272px;
  top:472px;
  width:34px;
  height:17px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:209px;
  top:472px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:145px;
  top:472px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:168px;
  top:20px;
  width:435px;
  height:484px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:484px;
}
#u79 {
  position:absolute;
  left:2px;
  top:234px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:20px;
  top:20px;
  width:751px;
  height:500px;
  font-size:72px;
  color:#000000;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:500px;
}
#u81 {
  position:absolute;
  left:0px;
  top:242px;
  width:751px;
  visibility:hidden;
  word-wrap:break-word;
}
