body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:770px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:770px;
  height:840px;
  font-size:72px;
  color:#000000;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:840px;
}
#u1 {
  position:absolute;
  left:0px;
  top:412px;
  width:770px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:259px;
  width:735px;
  height:136px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:172px;
  top:0px;
  width:177px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:349px;
  top:0px;
  width:177px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:526px;
  top:0px;
  width:204px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:172px;
  height:32px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:172px;
  top:30px;
  width:177px;
  height:32px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:349px;
  top:30px;
  width:177px;
  height:32px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:32px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:526px;
  top:30px;
  width:204px;
  height:32px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:200px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:62px;
  width:172px;
  height:33px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:33px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:172px;
  top:62px;
  width:177px;
  height:33px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:349px;
  top:62px;
  width:177px;
  height:33px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:526px;
  top:62px;
  width:204px;
  height:33px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:33px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:200px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:95px;
  width:172px;
  height:36px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:168px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:172px;
  top:95px;
  width:177px;
  height:36px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:349px;
  top:95px;
  width:177px;
  height:36px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:526px;
  top:95px;
  width:204px;
  height:36px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:239px;
  width:308px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:214px;
  top:290px;
  width:175px;
  height:31px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:31px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:41px;
  top:408px;
}
#u39_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:22px;
}
#u40_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:28px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:27px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u43 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:95px;
  top:0px;
  width:95px;
  height:22px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:22px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u47 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u39_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u39_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:22px;
}
#u48_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:28px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:27px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u51 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:95px;
  top:0px;
  width:95px;
  height:22px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u53 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:22px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u55 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u39_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u39_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:22px;
}
#u56_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:28px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:27px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u59 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:95px;
  top:0px;
  width:95px;
  height:22px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u61 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:22px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u63 {
  position:absolute;
  left:2px;
  top:3px;
  width:91px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:40px;
  top:430px;
}
#u64_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u64_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:406px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:406px;
}
#u64_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u64_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:406px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:406px;
}
#u64_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u64_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:406px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:406px;
}
#u68 {
  position:absolute;
  left:40px;
  top:61px;
  width:734px;
  height:164px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:172px;
  top:0px;
  width:177px;
  height:30px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:349px;
  top:0px;
  width:177px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:526px;
  top:0px;
  width:203px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:30px;
  width:172px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:172px;
  top:30px;
  width:177px;
  height:30px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:349px;
  top:30px;
  width:177px;
  height:30px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:526px;
  top:30px;
  width:203px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:60px;
  width:172px;
  height:33px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:33px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:172px;
  top:60px;
  width:177px;
  height:33px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:349px;
  top:60px;
  width:177px;
  height:33px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:526px;
  top:60px;
  width:203px;
  height:33px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:33px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:199px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:93px;
  width:172px;
  height:33px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:33px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:172px;
  top:93px;
  width:177px;
  height:33px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:349px;
  top:93px;
  width:177px;
  height:33px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:526px;
  top:93px;
  width:203px;
  height:33px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:33px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:199px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:126px;
  width:172px;
  height:33px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:33px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:172px;
  top:126px;
  width:177px;
  height:33px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:349px;
  top:126px;
  width:177px;
  height:33px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:526px;
  top:126px;
  width:203px;
  height:33px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:33px;
}
#u108 {
  position:absolute;
  left:2px;
  top:8px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:40px;
  top:40px;
  width:300px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:309px;
  top:67px;
  width:64px;
  height:17px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u112 {
  position:absolute;
  left:2px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:210px;
  top:188px;
  width:539px;
  height:31px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:31px;
}
#u114 {
  position:absolute;
  left:2px;
  top:8px;
  width:535px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:700px;
  top:297px;
  width:53px;
  height:17px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
}
#u116 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u117 {
  position:fixed;
  left:50%;
  margin-left:-165px;
  top:50%;
  margin-top:-84.5px;
  visibility:hidden;
}
#u117_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u117_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:169px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:169px;
}
#u119 {
  position:absolute;
  left:2px;
  top:76px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:8px;
  top:36px;
  width:310px;
  height:10px;
}
#u120_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u121 {
  position:absolute;
  left:8px;
  top:117px;
  width:310px;
  height:10px;
}
#u121_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u122 {
  position:absolute;
  left:8px;
  top:17px;
  width:147px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:8px;
  top:67px;
  width:72px;
  height:21px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u125 {
  position:absolute;
  left:0px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:257px;
  top:135px;
  width:63px;
  height:24px;
  font-size:10px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:184px;
  top:135px;
  width:63px;
  height:24px;
  font-size:10px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:304px;
  top:11px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:76px;
  top:68px;
  width:242px;
  height:22px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u132_input {
  font-family:'应用字体';
}
