body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-3px;
  width:1045px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:3px;
  top:30px;
  width:1003px;
  height:603px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:603px;
}
#u3 {
  position:absolute;
  left:2px;
  top:294px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:3px;
  top:31px;
  width:1002px;
  height:23px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:23px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:35px;
  width:12px;
  height:12px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:35px;
  width:12px;
  height:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:49px;
  top:35px;
  width:12px;
  height:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:3px;
  top:48px;
  width:1003px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:986px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1003px;
  height:1px;
}
#u13 {
  position:absolute;
  left:995px;
  top:31px;
  width:7px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:-10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:7px;
  height:1px;
}
#u14 {
  position:absolute;
  left:988px;
  top:41px;
  width:5px;
  height:5px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:984px;
  top:41px;
  width:7px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:-10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:7px;
  height:1px;
}
#u17 {
  position:absolute;
  left:992px;
  top:35px;
  width:7px;
  height:5px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:3px;
  top:664px;
  width:1004px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:987px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1004px;
  height:2px;
}
#u20 {
  position:absolute;
  left:3px;
  top:642px;
  width:61px;
  height:27px;
  font-size:20px;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:3px;
  top:4px;
  width:1045px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:193px;
  top:105px;
  width:811px;
  height:30px;
  font-size:72px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:194px;
  top:55px;
  width:810px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:4px;
  top:55px;
  width:190px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:15px;
  width:186px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:194px;
  top:135px;
  width:790px;
  height:497px;
  font-size:72px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:497px;
}
#u31 {
  position:absolute;
  left:2px;
  top:240px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:984px;
  top:135px;
  width:20px;
  height:495px;
  font-size:72px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:495px;
}
#u33 {
  position:absolute;
  left:2px;
  top:240px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:986px;
  top:137px;
  width:16px;
  height:5px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:986px;
  top:623px;
  width:16px;
  height:5px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:987px;
  top:146px;
  width:14px;
  height:132px;
  font-size:72px;
  color:#000000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:132px;
}
#u39 {
  position:absolute;
  left:2px;
  top:58px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:848px;
  top:71px;
  width:18px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u41 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:873px;
  top:72px;
  width:88px;
  height:20px;
  font-size:15px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:951px;
  top:77px;
  width:12px;
  height:8px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:212px;
  top:183px;
  width:756px;
  height:449px;
  font-size:72px;
  color:#000000;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:449px;
}
#u47 {
  position:absolute;
  left:0px;
  top:216px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:3px;
  top:105px;
  width:186px;
  height:523px;
}
#u50 {
  position:absolute;
  left:233px;
  top:192px;
  width:715px;
  height:94px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:15px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:94px;
}
#u51 {
  position:absolute;
  left:0px;
  top:39px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:869px;
  top:286px;
  width:70px;
  height:22px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:728px;
  top:603px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:664px;
  top:603px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:620px;
  top:603px;
  width:34px;
  height:17px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:576px;
  top:603px;
  width:34px;
  height:17px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:532px;
  top:603px;
  width:34px;
  height:17px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:469px;
  top:603px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:405px;
  top:603px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-1px;
  width:50px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:3px;
  top:684px;
  width:326px;
  height:160px;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:160px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:340px;
  top:684px;
  width:326px;
  height:160px;
  font-family:'宋体 常规', '宋体';
  font-size:14px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:160px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:677px;
  top:684px;
  width:326px;
  height:160px;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:160px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:233px;
  top:315px;
  width:720px;
  height:255px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:65px;
  top:0px;
  width:79px;
  height:37px;
  color:#000000;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:144px;
  top:0px;
  width:69px;
  height:37px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:37px;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:213px;
  top:0px;
  width:105px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
}
#u83 {
  position:absolute;
  left:2px;
  top:9px;
  width:101px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:318px;
  top:0px;
  width:103px;
  height:37px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:37px;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:421px;
  top:0px;
  width:79px;
  height:37px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:500px;
  top:0px;
  width:56px;
  height:37px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:556px;
  top:0px;
  width:79px;
  height:37px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:635px;
  top:0px;
  width:80px;
  height:37px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:37px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:37px;
  width:65px;
  height:45px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
}
#u95 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:65px;
  top:37px;
  width:79px;
  height:45px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:144px;
  top:37px;
  width:69px;
  height:45px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:45px;
}
#u99 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:213px;
  top:37px;
  width:105px;
  height:45px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:45px;
}
#u101 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:318px;
  top:37px;
  width:103px;
  height:45px;
  color:#000000;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:45px;
}
#u103 {
  position:absolute;
  left:2px;
  top:14px;
  width:99px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:421px;
  top:37px;
  width:79px;
  height:45px;
  color:#000000;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u105 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:500px;
  top:37px;
  width:56px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
}
#u107 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:556px;
  top:37px;
  width:79px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#81BC43;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u109 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:635px;
  top:37px;
  width:80px;
  height:45px;
  color:#000000;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u111 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:82px;
  width:65px;
  height:45px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
}
#u113 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:65px;
  top:82px;
  width:79px;
  height:45px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u115 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:144px;
  top:82px;
  width:69px;
  height:45px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:45px;
}
#u117 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:213px;
  top:82px;
  width:105px;
  height:45px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:45px;
}
#u119 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:318px;
  top:82px;
  width:103px;
  height:45px;
  color:#000000;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:45px;
}
#u121 {
  position:absolute;
  left:2px;
  top:14px;
  width:99px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:421px;
  top:82px;
  width:79px;
  height:45px;
  color:#000000;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u123 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:500px;
  top:82px;
  width:56px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
}
#u125 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:556px;
  top:82px;
  width:79px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF9650;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u127 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:635px;
  top:82px;
  width:80px;
  height:45px;
  color:#000000;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u129 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:127px;
  width:65px;
  height:46px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:46px;
}
#u131 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:65px;
  top:127px;
  width:79px;
  height:46px;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:46px;
}
#u133 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:144px;
  top:127px;
  width:69px;
  height:46px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
}
#u135 {
  position:absolute;
  left:2px;
  top:15px;
  width:65px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:213px;
  top:127px;
  width:105px;
  height:46px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:46px;
}
#u137 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:318px;
  top:127px;
  width:103px;
  height:46px;
  color:#000000;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u139 {
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:421px;
  top:127px;
  width:79px;
  height:46px;
  color:#000000;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:46px;
}
#u141 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:500px;
  top:127px;
  width:56px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:46px;
}
#u143 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:556px;
  top:127px;
  width:79px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#81BC43;
  text-align:center;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:46px;
}
#u145 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:635px;
  top:127px;
  width:80px;
  height:46px;
  color:#000000;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:46px;
}
#u147 {
  position:absolute;
  left:2px;
  top:15px;
  width:76px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:0px;
  top:173px;
  width:65px;
  height:41px;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
}
#u149 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:65px;
  top:173px;
  width:79px;
  height:41px;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:41px;
}
#u151 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:144px;
  top:173px;
  width:69px;
  height:41px;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:41px;
}
#u153 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:213px;
  top:173px;
  width:105px;
  height:41px;
  text-align:center;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:41px;
}
#u155 {
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:318px;
  top:173px;
  width:103px;
  height:41px;
  color:#000000;
  text-align:center;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:41px;
}
#u157 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:421px;
  top:173px;
  width:79px;
  height:41px;
  color:#000000;
  text-align:center;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:41px;
}
#u159 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:500px;
  top:173px;
  width:56px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
  text-align:center;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:41px;
}
#u161 {
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:556px;
  top:173px;
  width:79px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#81BC43;
  text-align:center;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:41px;
}
#u163 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:635px;
  top:173px;
  width:80px;
  height:41px;
  color:#000000;
  text-align:center;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u165 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:0px;
  top:214px;
  width:65px;
  height:36px;
  text-align:center;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u167 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:65px;
  top:214px;
  width:79px;
  height:36px;
  text-align:center;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u169 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:144px;
  top:214px;
  width:69px;
  height:36px;
  text-align:center;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u171 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:213px;
  top:214px;
  width:105px;
  height:36px;
  text-align:center;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u173 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:318px;
  top:214px;
  width:103px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u175 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:421px;
  top:214px;
  width:79px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:500px;
  top:214px;
  width:56px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
  text-align:center;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u179 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:556px;
  top:214px;
  width:79px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#81BC43;
  text-align:center;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u181 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:635px;
  top:214px;
  width:80px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u183 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:242px;
  top:201px;
  width:97px;
  height:19px;
  color:#1E1E1E;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:338px;
  top:200px;
  width:82px;
  height:20px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u187 {
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:865px;
  top:233px;
  width:70px;
  height:22px;
  color:#FFFFFF;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
}
#u189 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:447px;
  top:200px;
  width:93px;
  height:20px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u191 {
  position:absolute;
  left:2px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:753px;
  top:203px;
  width:66px;
  height:19px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:819px;
  top:201px;
  width:67px;
  height:20px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u195 {
  position:absolute;
  left:602px;
  top:202px;
  width:66px;
  height:19px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u197 {
  position:absolute;
  left:668px;
  top:201px;
  width:71px;
  height:20px;
}
#u197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u198 {
  position:absolute;
  left:233px;
  top:286px;
  width:92px;
  height:19px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:325px;
  top:286px;
  width:60px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#81BC43;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:579px;
  top:235px;
  width:98px;
  height:19px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:680px;
  top:236px;
  width:163px;
  height:20px;
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u205 {
  position:absolute;
  left:242px;
  top:237px;
  width:40px;
  height:19px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:283px;
  top:236px;
  width:84px;
  height:20px;
}
#u207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u208 {
  position:absolute;
  left:384px;
  top:238px;
  width:66px;
  height:19px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:449px;
  top:236px;
  width:122px;
  height:20px;
}
#u210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u212 {
  position:absolute;
  left:234px;
  top:601px;
  width:148px;
  height:19px;
  color:#666666;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:318px;
  top:597px;
  width:44px;
  height:22px;
}
#u214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#666666;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u215 {
  position:absolute;
  left:848px;
  top:598px;
  width:30px;
  height:19px;
}
#u215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u216 {
  position:absolute;
  left:796px;
  top:598px;
  width:60px;
  height:19px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:878px;
  top:599px;
  width:23px;
  height:19px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:900px;
  top:593px;
  width:40px;
  height:25px;
}
#u220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u221 {
  position:absolute;
  left:210px;
  top:152px;
  width:419px;
  height:30px;
}
#u221_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:425px;
  height:36px;
}
#u222 {
  position:absolute;
  left:0px;
  top:1px;
  width:424px;
  height:35px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u224 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:100px;
  top:0px;
  width:112px;
  height:30px;
  text-align:center;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u226 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:212px;
  top:0px;
  width:118px;
  height:30px;
  text-align:center;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u228 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:330px;
  top:0px;
  width:89px;
  height:30px;
  text-align:center;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u230 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:425px;
  top:200px;
  width:15px;
  height:19px;
  color:#1E1E1E;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:242px;
  top:263px;
  width:66px;
  height:19px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u235 {
  position:absolute;
  left:307px;
  top:261px;
  width:122px;
  height:20px;
}
#u235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u236 {
  position:absolute;
  left:462px;
  top:263px;
  width:40px;
  height:19px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:504px;
  top:261px;
  width:122px;
  height:20px;
}
#u238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
