body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3658px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:101px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3796 {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:101px;
}
#u3797 {
  position:absolute;
  left:2px;
  top:42px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3799_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:3661px;
  height:6px;
}
#u3799 {
  position:absolute;
  left:0px;
  top:98px;
  width:3658px;
  height:3px;
  color:#666666;
}
#u3800 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#666666;
}
#u3801 {
  position:absolute;
  left:36px;
  top:30px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#666666;
}
#u3802 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3803 {
  position:absolute;
  left:113px;
  top:111px;
  width:119px;
  height:32px;
  color:#FF0000;
}
#u3804 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u3805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:2px;
}
#u3805 {
  position:absolute;
  left:27px;
  top:123px;
  width:86px;
  height:1px;
  color:#FF0000;
}
#u3806 {
  position:absolute;
  left:2px;
  top:-8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u3807 {
  position:absolute;
  left:113px;
  top:160px;
  width:100px;
  height:48px;
  color:#0000FF;
}
#u3808 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u3809 {
  position:absolute;
  left:27px;
  top:176px;
  width:85px;
  height:1px;
}
#u3810 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3811 {
  position:absolute;
  left:113px;
  top:220px;
  width:25px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3812 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#009900;
}
#u3813 {
  position:absolute;
  left:138px;
  top:228px;
  width:57px;
  height:16px;
  text-decoration:underline;
  color:#009900;
}
#u3814 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:2px;
}
#u3815 {
  position:absolute;
  left:27px;
  top:232px;
  width:86px;
  height:1px;
}
#u3816 {
  position:absolute;
  left:2px;
  top:-8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3817_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:96px;
  height:21px;
}
#u3817p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:88px;
  height:1px;
}
#u3817p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:98px;
  height:22px;
}
#u3817p001 {
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3817p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u3817.compound {
  width:0px;
  height:0px;
}
#u3817 {
  position:absolute;
  left:27px;
  top:278px;
  width:86px;
  height:1px;
}
#u3818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Sinhala Regular', 'Noto Sans Sinhala';
  font-weight:400;
  font-style:normal;
}
#u3819 {
  position:absolute;
  left:113px;
  top:269px;
  width:57px;
  height:19px;
  font-family:'Noto Sans Sinhala Regular', 'Noto Sans Sinhala';
  font-weight:400;
  font-style:normal;
}
#u3820 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
