body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1967 {
  position:absolute;
  left:100px;
  top:211px;
  width:1816px;
  height:232px;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1969 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:40px;
}
#u1970 {
  position:absolute;
  left:190px;
  top:0px;
  width:201px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1971 {
  position:absolute;
  left:2px;
  top:12px;
  width:197px;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1972 {
  position:absolute;
  left:391px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1973 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u1974 {
  position:absolute;
  left:591px;
  top:0px;
  width:216px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1975 {
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u1976 {
  position:absolute;
  left:807px;
  top:0px;
  width:226px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1977 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:40px;
}
#u1978 {
  position:absolute;
  left:1033px;
  top:0px;
  width:201px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1979 {
  position:absolute;
  left:2px;
  top:12px;
  width:197px;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u1980 {
  position:absolute;
  left:1234px;
  top:0px;
  width:199px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1981 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u1982 {
  position:absolute;
  left:1433px;
  top:0px;
  width:178px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1983 {
  position:absolute;
  left:2px;
  top:12px;
  width:174px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1984 {
  position:absolute;
  left:1611px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1985 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:37px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:40px;
  width:190px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u1987 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u1988 {
  position:absolute;
  left:190px;
  top:40px;
  width:201px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#48B0F7;
  text-align:center;
}
#u1989 {
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u1990 {
  position:absolute;
  left:391px;
  top:40px;
  width:200px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u1991 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:37px;
}
#u1992 {
  position:absolute;
  left:591px;
  top:40px;
  width:216px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u1993 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:37px;
}
#u1994 {
  position:absolute;
  left:807px;
  top:40px;
  width:226px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u1995 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u1996 {
  position:absolute;
  left:1033px;
  top:40px;
  width:201px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u1997 {
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:37px;
}
#u1998 {
  position:absolute;
  left:1234px;
  top:40px;
  width:199px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u1999 {
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:37px;
}
#u2000 {
  position:absolute;
  left:1433px;
  top:40px;
  width:178px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2001 {
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u2002 {
  position:absolute;
  left:1611px;
  top:40px;
  width:200px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2003 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:37px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:77px;
  width:190px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2005 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u2006 {
  position:absolute;
  left:190px;
  top:77px;
  width:201px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#48B0F7;
  text-align:center;
}
#u2007 {
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u2008 {
  position:absolute;
  left:391px;
  top:77px;
  width:200px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2009 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:37px;
}
#u2010 {
  position:absolute;
  left:591px;
  top:77px;
  width:216px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2011 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:37px;
}
#u2012 {
  position:absolute;
  left:807px;
  top:77px;
  width:226px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2013 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u2014 {
  position:absolute;
  left:1033px;
  top:77px;
  width:201px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2015 {
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:37px;
}
#u2016 {
  position:absolute;
  left:1234px;
  top:77px;
  width:199px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2017 {
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:37px;
}
#u2018 {
  position:absolute;
  left:1433px;
  top:77px;
  width:178px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2019 {
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u2020 {
  position:absolute;
  left:1611px;
  top:77px;
  width:200px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2021 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:39px;
}
#u2022 {
  position:absolute;
  left:0px;
  top:114px;
  width:190px;
  height:39px;
  color:#666666;
  text-align:center;
}
#u2023 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:39px;
}
#u2024 {
  position:absolute;
  left:190px;
  top:114px;
  width:201px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#48B0F7;
  text-align:center;
}
#u2025 {
  position:absolute;
  left:2px;
  top:12px;
  width:197px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
}
#u2026 {
  position:absolute;
  left:391px;
  top:114px;
  width:200px;
  height:39px;
  color:#666666;
  text-align:center;
}
#u2027 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:39px;
}
#u2028 {
  position:absolute;
  left:591px;
  top:114px;
  width:216px;
  height:39px;
  color:#666666;
  text-align:center;
}
#u2029 {
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:39px;
}
#u2030 {
  position:absolute;
  left:807px;
  top:114px;
  width:226px;
  height:39px;
  color:#666666;
  text-align:center;
}
#u2031 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:39px;
}
#u2032 {
  position:absolute;
  left:1033px;
  top:114px;
  width:201px;
  height:39px;
  color:#666666;
  text-align:center;
}
#u2033 {
  position:absolute;
  left:2px;
  top:12px;
  width:197px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:39px;
}
#u2034 {
  position:absolute;
  left:1234px;
  top:114px;
  width:199px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2035 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:39px;
}
#u2036 {
  position:absolute;
  left:1433px;
  top:114px;
  width:178px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2037 {
  position:absolute;
  left:2px;
  top:12px;
  width:174px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
}
#u2038 {
  position:absolute;
  left:1611px;
  top:114px;
  width:200px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2039 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:37px;
}
#u2040 {
  position:absolute;
  left:0px;
  top:153px;
  width:190px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2041 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u2042 {
  position:absolute;
  left:190px;
  top:153px;
  width:201px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#48B0F7;
  text-align:center;
}
#u2043 {
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u2044 {
  position:absolute;
  left:391px;
  top:153px;
  width:200px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2045 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:37px;
}
#u2046 {
  position:absolute;
  left:591px;
  top:153px;
  width:216px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2047 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:37px;
}
#u2048 {
  position:absolute;
  left:807px;
  top:153px;
  width:226px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2049 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u2050 {
  position:absolute;
  left:1033px;
  top:153px;
  width:201px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2051 {
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:37px;
}
#u2052 {
  position:absolute;
  left:1234px;
  top:153px;
  width:199px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2053 {
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:37px;
}
#u2054 {
  position:absolute;
  left:1433px;
  top:153px;
  width:178px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2055 {
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u2056 {
  position:absolute;
  left:1611px;
  top:153px;
  width:200px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2057 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:37px;
}
#u2058 {
  position:absolute;
  left:0px;
  top:190px;
  width:190px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2059 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u2060 {
  position:absolute;
  left:190px;
  top:190px;
  width:201px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#48B0F7;
  text-align:center;
}
#u2061 {
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u2062 {
  position:absolute;
  left:391px;
  top:190px;
  width:200px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2063 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:37px;
}
#u2064 {
  position:absolute;
  left:591px;
  top:190px;
  width:216px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2065 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:37px;
}
#u2066 {
  position:absolute;
  left:807px;
  top:190px;
  width:226px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2067 {
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u2068 {
  position:absolute;
  left:1033px;
  top:190px;
  width:201px;
  height:37px;
  color:#666666;
  text-align:center;
}
#u2069 {
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:37px;
}
#u2070 {
  position:absolute;
  left:1234px;
  top:190px;
  width:199px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2071 {
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:37px;
}
#u2072 {
  position:absolute;
  left:1433px;
  top:190px;
  width:178px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2073 {
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u2074 {
  position:absolute;
  left:1611px;
  top:190px;
  width:200px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2075 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2082 {
  position:absolute;
  left:100px;
  top:100px;
  width:151px;
  height:53px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:18px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2084 {
  position:absolute;
  left:112px;
  top:109px;
  width:92px;
  height:16px;
  color:#666666;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2089 {
  position:absolute;
  left:349px;
  top:100px;
  width:152px;
  height:53px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u2091 {
  position:absolute;
  left:471px;
  top:130px;
  width:20px;
  height:14px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:-1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u2093 {
  position:absolute;
  left:357px;
  top:107px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BCBCBC;
}
#u2095 {
  position:absolute;
  left:357px;
  top:127px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#BCBCBC;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:2px;
}
#u2098 {
  position:absolute;
  left:100px;
  top:514px;
  width:1219px;
  height:1px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2100 {
  position:absolute;
  left:100px;
  top:479px;
  width:67px;
  height:28px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:621px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u2103 {
  position:absolute;
  left:99px;
  top:529px;
  width:306px;
  height:621px;
  color:#FF0000;
  text-align:left;
}
#u2104 {
  position:absolute;
  left:2px;
  top:2px;
  width:302px;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:621px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u2105 {
  position:absolute;
  left:404px;
  top:529px;
  width:306px;
  height:621px;
  color:#FF0000;
  text-align:left;
}
#u2106 {
  position:absolute;
  left:2px;
  top:2px;
  width:302px;
  word-wrap:break-word;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:621px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u2107 {
  position:absolute;
  left:708px;
  top:529px;
  width:306px;
  height:621px;
  color:#FF0000;
  text-align:left;
}
#u2108 {
  position:absolute;
  left:2px;
  top:2px;
  width:302px;
  word-wrap:break-word;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:621px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u2109 {
  position:absolute;
  left:1013px;
  top:529px;
  width:306px;
  height:621px;
  color:#FF0000;
  text-align:left;
}
#u2110 {
  position:absolute;
  left:2px;
  top:2px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:2px;
}
#u2111 {
  position:absolute;
  left:100px;
  top:75px;
  width:1219px;
  height:1px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2113 {
  position:absolute;
  left:127px;
  top:43px;
  width:118px;
  height:16px;
  color:#666666;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:5px;
  background:inherit;
  background-color:rgba(245, 87, 83, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 87, 83, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2120 {
  position:absolute;
  left:354px;
  top:71px;
  width:130px;
  height:5px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:-6px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2122 {
  position:absolute;
  left:360px;
  top:43px;
  width:118px;
  height:16px;
  color:#666666;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2124 {
  position:absolute;
  left:598px;
  top:43px;
  width:105px;
  height:16px;
  color:#666666;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
