body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:100px;
  width:1000px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:17px;
  top:170px;
  width:968px;
  height:116px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:65px;
  top:0px;
  width:97px;
  height:27px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:162px;
  top:0px;
  width:741px;
  height:27px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:27px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:737px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:903px;
  top:0px;
  width:60px;
  height:27px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:27px;
  width:65px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:84px;
}
#u12 {
  position:absolute;
  left:2px;
  top:34px;
  width:61px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:65px;
  top:27px;
  width:97px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:84px;
}
#u14 {
  position:absolute;
  left:2px;
  top:34px;
  width:93px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:162px;
  top:27px;
  width:741px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:84px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:737px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:903px;
  top:27px;
  width:60px;
  height:84px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:84px;
}
#u18 {
  position:absolute;
  left:2px;
  top:34px;
  width:56px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:425px;
  top:113px;
  width:150px;
  height:42px;
  font-size:36px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
