body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u616 {
  position:absolute;
  left:228px;
  top:237px;
  width:872px;
  height:228px;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:30px;
}
#u617 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:30px;
}
#u618 {
  position:absolute;
  left:2px;
  top:7px;
  width:285px;
  word-wrap:break-word;
}
#u619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u619 {
  position:absolute;
  left:289px;
  top:0px;
  width:279px;
  height:30px;
}
#u620 {
  position:absolute;
  left:2px;
  top:7px;
  width:275px;
  word-wrap:break-word;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u621 {
  position:absolute;
  left:568px;
  top:0px;
  width:299px;
  height:30px;
}
#u622 {
  position:absolute;
  left:2px;
  top:7px;
  width:295px;
  word-wrap:break-word;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:48px;
}
#u623 {
  position:absolute;
  left:0px;
  top:30px;
  width:289px;
  height:48px;
}
#u624 {
  position:absolute;
  left:2px;
  top:16px;
  width:285px;
  word-wrap:break-word;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:48px;
}
#u625 {
  position:absolute;
  left:289px;
  top:30px;
  width:279px;
  height:48px;
}
#u626 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  word-wrap:break-word;
}
#u627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:48px;
}
#u627 {
  position:absolute;
  left:568px;
  top:30px;
  width:299px;
  height:48px;
}
#u628 {
  position:absolute;
  left:2px;
  top:16px;
  width:295px;
  word-wrap:break-word;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:50px;
}
#u629 {
  position:absolute;
  left:0px;
  top:78px;
  width:289px;
  height:50px;
}
#u630 {
  position:absolute;
  left:2px;
  top:17px;
  width:285px;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:50px;
}
#u631 {
  position:absolute;
  left:289px;
  top:78px;
  width:279px;
  height:50px;
}
#u632 {
  position:absolute;
  left:2px;
  top:17px;
  width:275px;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
}
#u633 {
  position:absolute;
  left:568px;
  top:78px;
  width:299px;
  height:50px;
}
#u634 {
  position:absolute;
  left:2px;
  top:17px;
  width:295px;
  word-wrap:break-word;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:48px;
}
#u635 {
  position:absolute;
  left:0px;
  top:128px;
  width:289px;
  height:48px;
}
#u636 {
  position:absolute;
  left:2px;
  top:16px;
  width:285px;
  word-wrap:break-word;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:48px;
}
#u637 {
  position:absolute;
  left:289px;
  top:128px;
  width:279px;
  height:48px;
}
#u638 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  word-wrap:break-word;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:48px;
}
#u639 {
  position:absolute;
  left:568px;
  top:128px;
  width:299px;
  height:48px;
}
#u640 {
  position:absolute;
  left:2px;
  top:16px;
  width:295px;
  word-wrap:break-word;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:47px;
}
#u641 {
  position:absolute;
  left:0px;
  top:176px;
  width:289px;
  height:47px;
}
#u642 {
  position:absolute;
  left:2px;
  top:16px;
  width:285px;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:47px;
}
#u643 {
  position:absolute;
  left:289px;
  top:176px;
  width:279px;
  height:47px;
}
#u644 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:47px;
}
#u645 {
  position:absolute;
  left:568px;
  top:176px;
  width:299px;
  height:47px;
}
#u646 {
  position:absolute;
  left:2px;
  top:16px;
  width:295px;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u647 {
  position:absolute;
  left:228px;
  top:202px;
  width:111px;
  height:22px;
  font-size:18px;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  position:absolute;
  left:223px;
  top:83px;
  width:151px;
  height:53px;
}
#u656 {
  position:absolute;
  left:2px;
  top:18px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u657 {
  position:absolute;
  left:235px;
  top:92px;
  width:53px;
  height:16px;
  color:#666666;
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  position:absolute;
  left:431px;
  top:83px;
  width:151px;
  height:53px;
}
#u666 {
  position:absolute;
  left:2px;
  top:18px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u667 {
  position:absolute;
  left:443px;
  top:92px;
  width:27px;
  height:16px;
  color:#666666;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u671 {
  position:absolute;
  left:975px;
  top:92px;
  width:120px;
  height:35px;
  color:#FFFFFF;
}
#u672 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u673 {
  position:absolute;
  left:1005px;
  top:100px;
  width:20px;
  height:20px;
}
#u674 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u675 {
  position:absolute;
  left:1027px;
  top:102px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:955px;
  top:187px;
  width:140px;
  height:40px;
}
#u678 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u679 {
  position:absolute;
  left:1105px;
  top:175px;
  width:140px;
  height:16px;
  color:#FF0000;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
