body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:100px;
  width:1000px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:170px;
  width:935px;
  height:284px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:62px;
  top:0px;
  width:94px;
  height:27px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:156px;
  top:0px;
  width:715px;
  height:27px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:711px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:871px;
  top:0px;
  width:59px;
  height:27px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:27px;
  width:62px;
  height:84px;
  color:#000000;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:84px;
}
#u12 {
  position:absolute;
  left:2px;
  top:34px;
  width:58px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:62px;
  top:27px;
  width:94px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:84px;
}
#u14 {
  position:absolute;
  left:2px;
  top:34px;
  width:90px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:156px;
  top:27px;
  width:715px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:84px;
}
#u16 {
  position:absolute;
  left:2px;
  top:34px;
  width:711px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:871px;
  top:27px;
  width:59px;
  height:84px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:84px;
}
#u18 {
  position:absolute;
  left:2px;
  top:34px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:111px;
  width:62px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:84px;
}
#u20 {
  position:absolute;
  left:2px;
  top:34px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:62px;
  top:111px;
  width:94px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:84px;
}
#u22 {
  position:absolute;
  left:2px;
  top:34px;
  width:90px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:156px;
  top:111px;
  width:715px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:84px;
}
#u24 {
  position:absolute;
  left:2px;
  top:34px;
  width:711px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:871px;
  top:111px;
  width:59px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:84px;
}
#u26 {
  position:absolute;
  left:2px;
  top:34px;
  width:55px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:195px;
  width:62px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:84px;
}
#u28 {
  position:absolute;
  left:2px;
  top:34px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:62px;
  top:195px;
  width:94px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:84px;
}
#u30 {
  position:absolute;
  left:2px;
  top:34px;
  width:90px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:156px;
  top:195px;
  width:715px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:84px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:711px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:871px;
  top:195px;
  width:59px;
  height:84px;
  color:#FF0000;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:84px;
}
#u34 {
  position:absolute;
  left:2px;
  top:34px;
  width:55px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:425px;
  top:113px;
  width:150px;
  height:42px;
  font-size:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
