body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1884px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:-9px;
  top:2px;
  width:1902px;
  height:1414px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1902px;
  height:1414px;
}
#u2 {
  position:absolute;
  left:2px;
  top:699px;
  width:1898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:-9px;
  top:2px;
  width:1902px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:1906px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:1898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:-9px;
  top:2px;
  width:250px;
  height:1414px;
  color:#788195;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:1414px;
}
#u6 {
  position:absolute;
  left:2px;
  top:699px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:-9px;
  top:122px;
  width:250px;
  height:50px;
  color:#788195;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:-9px;
  top:174px;
  width:250px;
  height:51px;
  color:#788195;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:51px;
}
#u10 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:-9px;
  top:218px;
  width:250px;
  height:51px;
  color:#788195;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:51px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:-9px;
  top:270px;
  width:250px;
  height:50px;
  color:#788195;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:-9px;
  top:321px;
  width:250px;
  height:51px;
  color:#788195;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:51px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:21px;
  top:138px;
  width:53px;
  height:19px;
  color:#788195;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:145px;
  top:131px;
  width:21px;
  height:23px;
  color:#788195;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:174px;
  top:120px;
  width:44px;
  height:45px;
  color:#788195;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:21px;
  top:187px;
  width:53px;
  height:19px;
  color:#788195;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:145px;
  top:180px;
  width:21px;
  height:23px;
  color:#788195;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:176px;
  top:174px;
  width:40px;
  height:40px;
  color:#788195;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:186px;
  top:183px;
  width:20px;
  height:20px;
  color:#788195;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:21px;
  top:238px;
  width:53px;
  height:19px;
  color:#788195;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:176px;
  top:225px;
  width:40px;
  height:40px;
  color:#788195;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:186px;
  top:235px;
  width:20px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:145px;
  top:231px;
  width:21px;
  height:23px;
  color:#788195;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:21px;
  top:339px;
  width:53px;
  height:19px;
  color:#788195;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:176px;
  top:326px;
  width:40px;
  height:40px;
  color:#788195;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:145px;
  top:332px;
  width:21px;
  height:23px;
  color:#788195;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:21px;
  top:390px;
  width:53px;
  height:16px;
  color:#788195;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:176px;
  top:377px;
  width:40px;
  height:40px;
  color:#788195;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:145px;
  top:383px;
  width:21px;
  height:23px;
  color:#788195;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:186px;
  top:387px;
  width:20px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:186px;
  top:335px;
  width:20px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:-9px;
  top:2px;
  width:250px;
  height:60px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:61px;
}
#u56 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:151px;
  top:17px;
  width:69px;
  height:31px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:16px;
  top:18px;
  width:135px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:27px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:1701px;
  top:3px;
  width:182px;
  height:49px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:49px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:14px;
  top:81px;
  width:202px;
  height:35px;
  color:#C9C9C9;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:21px;
  top:441px;
  width:53px;
  height:16px;
  color:#788195;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:176px;
  top:428px;
  width:40px;
  height:40px;
  color:#788195;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:145px;
  top:434px;
  width:21px;
  height:23px;
  color:#788195;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:186px;
  top:438px;
  width:20px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:21px;
  top:491px;
  width:53px;
  height:16px;
  color:#788195;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:176px;
  top:478px;
  width:40px;
  height:40px;
  color:#788195;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:145px;
  top:484px;
  width:21px;
  height:23px;
  color:#788195;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:186px;
  top:488px;
  width:20px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:21px;
  top:542px;
  width:53px;
  height:16px;
  color:#788195;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:176px;
  top:529px;
  width:40px;
  height:40px;
  color:#788195;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:145px;
  top:535px;
  width:21px;
  height:23px;
  color:#788195;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:186px;
  top:539px;
  width:20px;
  height:20px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:21px;
  top:593px;
  width:53px;
  height:16px;
  color:#788195;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:176px;
  top:580px;
  width:40px;
  height:40px;
  color:#788195;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:145px;
  top:586px;
  width:21px;
  height:23px;
  color:#788195;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:186px;
  top:590px;
  width:20px;
  height:20px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:21px;
  top:288px;
  width:53px;
  height:19px;
  color:#788195;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:176px;
  top:275px;
  width:40px;
  height:40px;
  color:#788195;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u100 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:186px;
  top:285px;
  width:20px;
  height:20px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:145px;
  top:281px;
  width:21px;
  height:23px;
  color:#788195;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:298px;
  top:90px;
  width:1242px;
  height:770px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:15px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:770px;
}
#u106 {
  position:absolute;
  left:0px;
  top:377px;
  width:1242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:308px;
  top:101px;
  width:79px;
  height:19px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:298px;
  top:126px;
  width:1242px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:1225px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1242px;
  height:1px;
}
#u110 {
  position:absolute;
  left:297px;
  top:129px;
  width:102px;
  height:5px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:5px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:344px;
  top:750px;
  width:327px;
  height:470px;
  font-size:14px;
  color:#FF0000;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:470px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:682px;
  top:750px;
  width:327px;
  height:470px;
  font-size:14px;
  color:#FF0000;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:470px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1020px;
  top:750px;
  width:327px;
  height:470px;
  color:#FF0000;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:470px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:344px;
  top:250px;
  width:120px;
  height:35px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u119 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:344px;
  top:304px;
  width:1051px;
  height:290px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:56px;
  top:0px;
  width:144px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:200px;
  top:0px;
  width:170px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:370px;
  top:0px;
  width:118px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u128 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:488px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:638px;
  top:0px;
  width:163px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u132 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:801px;
  top:0px;
  width:245px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:40px;
}
#u134 {
  position:absolute;
  left:2px;
  top:10px;
  width:241px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:0px;
  top:40px;
  width:56px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:62px;
}
#u136 {
  position:absolute;
  left:2px;
  top:22px;
  width:52px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:56px;
  top:40px;
  width:144px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#22CC8C;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:62px;
}
#u138 {
  position:absolute;
  left:2px;
  top:22px;
  width:140px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:200px;
  top:40px;
  width:170px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:62px;
}
#u140 {
  position:absolute;
  left:2px;
  top:22px;
  width:166px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:370px;
  top:40px;
  width:118px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:62px;
}
#u142 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:488px;
  top:40px;
  width:150px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u144 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:638px;
  top:40px;
  width:163px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:62px;
}
#u146 {
  position:absolute;
  left:2px;
  top:22px;
  width:159px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:801px;
  top:40px;
  width:245px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:62px;
}
#u148 {
  position:absolute;
  left:2px;
  top:22px;
  width:241px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:0px;
  top:102px;
  width:56px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:61px;
}
#u150 {
  position:absolute;
  left:2px;
  top:21px;
  width:52px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:56px;
  top:102px;
  width:144px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#22CC8C;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:61px;
}
#u152 {
  position:absolute;
  left:2px;
  top:21px;
  width:140px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:200px;
  top:102px;
  width:170px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:61px;
}
#u154 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:370px;
  top:102px;
  width:118px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:61px;
}
#u156 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:488px;
  top:102px;
  width:150px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
}
#u158 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:638px;
  top:102px;
  width:163px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:61px;
}
#u160 {
  position:absolute;
  left:2px;
  top:21px;
  width:159px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:801px;
  top:102px;
  width:245px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:61px;
}
#u162 {
  position:absolute;
  left:2px;
  top:21px;
  width:241px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:0px;
  top:163px;
  width:56px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:61px;
}
#u164 {
  position:absolute;
  left:2px;
  top:21px;
  width:52px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:56px;
  top:163px;
  width:144px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#22CC8C;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:61px;
}
#u166 {
  position:absolute;
  left:2px;
  top:21px;
  width:140px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:200px;
  top:163px;
  width:170px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:61px;
}
#u168 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:370px;
  top:163px;
  width:118px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:61px;
}
#u170 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:488px;
  top:163px;
  width:150px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
}
#u172 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:638px;
  top:163px;
  width:163px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:61px;
}
#u174 {
  position:absolute;
  left:2px;
  top:21px;
  width:159px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:801px;
  top:163px;
  width:245px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:61px;
}
#u176 {
  position:absolute;
  left:2px;
  top:21px;
  width:241px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:0px;
  top:224px;
  width:56px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:61px;
}
#u178 {
  position:absolute;
  left:2px;
  top:21px;
  width:52px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:56px;
  top:224px;
  width:144px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#22CC8C;
  text-align:center;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:61px;
}
#u180 {
  position:absolute;
  left:2px;
  top:21px;
  width:140px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:200px;
  top:224px;
  width:170px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:61px;
}
#u182 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:370px;
  top:224px;
  width:118px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:61px;
}
#u184 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:488px;
  top:224px;
  width:150px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
}
#u186 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:638px;
  top:224px;
  width:163px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:61px;
}
#u188 {
  position:absolute;
  left:2px;
  top:21px;
  width:159px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:801px;
  top:224px;
  width:245px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0000FF;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:61px;
}
#u190 {
  position:absolute;
  left:2px;
  top:21px;
  width:241px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:1220px;
  top:360px;
  width:88px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u192 {
  position:absolute;
  left:1220px;
  top:423px;
  width:88px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  position:absolute;
  left:1220px;
  top:482px;
  width:88px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u194 {
  position:absolute;
  left:1220px;
  top:539px;
  width:88px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u195 {
  position:absolute;
  left:720px;
  top:174px;
  width:120px;
  height:35px;
  color:#FFFFFF;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u196 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:747px;
  top:179px;
  width:20px;
  height:20px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u198 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:773px;
  top:182px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u201 {
  position:absolute;
  left:343px;
  top:156px;
  width:152px;
  height:53px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:53px;
}
#u202 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:353px;
  top:165px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#BCBCBC;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u205 {
  position:absolute;
  left:353px;
  top:185px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:521px;
  top:156px;
  width:152px;
  height:53px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:53px;
}
#u208 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:527px;
  top:165px;
  width:53px;
  height:19px;
  color:#666666;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:645px;
  top:186px;
  width:20px;
  height:14px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u212 {
  position:absolute;
  left:2px;
  top:-1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:530px;
  top:183px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#BCBCBC;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:1172px;
  top:620px;
  width:218px;
  height:42px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:42px;
}
#u216 {
  position:absolute;
  left:2px;
  top:13px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:790px;
  top:643px;
  width:90px;
  height:19px;
  color:#C9C9C9;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:344px;
  top:643px;
  width:148px;
  height:19px;
  color:#666666;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:19px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:428px;
  top:639px;
  width:44px;
  height:22px;
}
#u221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#666666;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u222 {
  position:absolute;
  left:893px;
  top:381px;
  width:27px;
  height:19px;
  color:#0000FF;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u224 {
  position:fixed;
  left:50%;
  margin-left:-980px;
  top:50%;
  margin-top:-700px;
  width:1960px;
  height:1400px;
  overflow:hidden;
  visibility:hidden;
}
#u224_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1960px;
  height:1400px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u224_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:1990px;
  height:1410px;
  opacity:0.3;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1990px;
  height:1410px;
}
#u226 {
  position:absolute;
  left:2px;
  top:697px;
  width:1986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:fixed;
  left:50%;
  margin-left:-205px;
  top:50%;
  margin-top:-115px;
}
#u227_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u227_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:230px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:230px;
}
#u229 {
  position:absolute;
  left:2px;
  top:107px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:40px;
  top:47px;
  width:290px;
  height:24px;
  font-size:18px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:24px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:344px;
  top:40px;
  width:26px;
  height:20px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u233 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:107px;
  top:150px;
  width:120px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u235 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:246px;
  top:150px;
  width:120px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u237 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:40px;
  top:95px;
  width:326px;
  height:35px;
  color:#999999;
  text-align:left;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:35px;
}
#u239 {
  position:absolute;
  left:2px;
  top:10px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:47px;
  top:101px;
  width:50px;
  height:22px;
  font-size:12px;
  text-align:right;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u241 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:52px;
  top:103px;
  width:8px;
  height:17px;
  font-family:'Century Gothic Negreta', 'Century Gothic';
  font-weight:700;
  color:#000000;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:17px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u244 {
  position:absolute;
  left:99px;
  top:101px;
  width:50px;
  height:22px;
  font-size:12px;
  text-align:right;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u245 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:104px;
  top:103px;
  width:8px;
  height:17px;
  font-family:'Century Gothic Negreta', 'Century Gothic';
  font-weight:700;
  color:#000000;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:17px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u248 {
  position:absolute;
  left:151px;
  top:101px;
  width:50px;
  height:22px;
  font-size:12px;
  text-align:right;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u249 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:156px;
  top:103px;
  width:8px;
  height:17px;
  font-family:'Century Gothic Negreta', 'Century Gothic';
  font-weight:700;
  color:#000000;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:17px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u252 {
  position:absolute;
  left:204px;
  top:101px;
  width:50px;
  height:22px;
  font-size:12px;
  text-align:right;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u253 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:209px;
  top:103px;
  width:8px;
  height:17px;
  font-family:'Century Gothic Negreta', 'Century Gothic';
  font-weight:700;
  color:#000000;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:17px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u256 {
  position:absolute;
  left:893px;
  top:381px;
  width:27px;
  height:19px;
  color:#0000FF;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u258 {
  position:absolute;
  left:893px;
  top:441px;
  width:27px;
  height:19px;
  color:#0000FF;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u260 {
  position:absolute;
  left:893px;
  top:506px;
  width:27px;
  height:19px;
  color:#0000FF;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u262 {
  position:absolute;
  left:893px;
  top:563px;
  width:27px;
  height:19px;
  color:#0000FF;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
