body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:753px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:22px;
  top:141px;
  width:756px;
  height:473px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:68px;
}
#u2 {
  position:absolute;
  left:2px;
  top:26px;
  width:40px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:44px;
  top:0px;
  width:63px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:68px;
}
#u4 {
  position:absolute;
  left:2px;
  top:18px;
  width:59px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:107px;
  top:0px;
  width:61px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:68px;
}
#u6 {
  position:absolute;
  left:2px;
  top:18px;
  width:57px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:168px;
  top:0px;
  width:91px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:68px;
}
#u8 {
  position:absolute;
  left:2px;
  top:18px;
  width:87px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:259px;
  top:0px;
  width:137px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:68px;
}
#u10 {
  position:absolute;
  left:2px;
  top:26px;
  width:133px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:396px;
  top:0px;
  width:99px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:68px;
}
#u12 {
  position:absolute;
  left:2px;
  top:26px;
  width:95px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:495px;
  top:0px;
  width:98px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:68px;
}
#u14 {
  position:absolute;
  left:2px;
  top:26px;
  width:94px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:593px;
  top:0px;
  width:63px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:68px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:59px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:656px;
  top:0px;
  width:95px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:68px;
}
#u18 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:68px;
  width:44px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:44px;
  top:68px;
  width:63px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:100px;
}
#u22 {
  position:absolute;
  left:2px;
  top:42px;
  width:59px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:107px;
  top:68px;
  width:61px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:57px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:168px;
  top:68px;
  width:91px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:100px;
}
#u26 {
  position:absolute;
  left:2px;
  top:42px;
  width:87px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:259px;
  top:68px;
  width:137px;
  height:100px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:100px;
}
#u28 {
  position:absolute;
  left:2px;
  top:42px;
  width:133px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:396px;
  top:68px;
  width:99px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:100px;
}
#u30 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:495px;
  top:68px;
  width:98px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:34px;
  width:94px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:593px;
  top:68px;
  width:63px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:100px;
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:59px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:656px;
  top:68px;
  width:95px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#u36 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:168px;
  width:44px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:100px;
}
#u38 {
  position:absolute;
  left:2px;
  top:42px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:44px;
  top:168px;
  width:63px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:59px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:107px;
  top:168px;
  width:61px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:57px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:168px;
  top:168px;
  width:91px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:87px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:259px;
  top:168px;
  width:137px;
  height:100px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:100px;
}
#u46 {
  position:absolute;
  left:2px;
  top:42px;
  width:133px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:396px;
  top:168px;
  width:99px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:495px;
  top:168px;
  width:98px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:100px;
}
#u50 {
  position:absolute;
  left:2px;
  top:34px;
  width:94px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:593px;
  top:168px;
  width:63px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:59px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:656px;
  top:168px;
  width:95px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#u54 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:268px;
  width:44px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:100px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:44px;
  top:268px;
  width:63px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:100px;
}
#u58 {
  position:absolute;
  left:2px;
  top:42px;
  width:59px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:107px;
  top:268px;
  width:61px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:100px;
}
#u60 {
  position:absolute;
  left:2px;
  top:42px;
  width:57px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:168px;
  top:268px;
  width:91px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:100px;
}
#u62 {
  position:absolute;
  left:2px;
  top:42px;
  width:87px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:259px;
  top:268px;
  width:137px;
  height:100px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:100px;
}
#u64 {
  position:absolute;
  left:2px;
  top:42px;
  width:133px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:396px;
  top:268px;
  width:99px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:100px;
}
#u66 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:495px;
  top:268px;
  width:98px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:100px;
}
#u68 {
  position:absolute;
  left:2px;
  top:34px;
  width:94px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:593px;
  top:268px;
  width:63px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:100px;
}
#u70 {
  position:absolute;
  left:2px;
  top:42px;
  width:59px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:656px;
  top:268px;
  width:95px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#u72 {
  position:absolute;
  left:2px;
  top:42px;
  width:91px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:368px;
  width:44px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:100px;
}
#u74 {
  position:absolute;
  left:2px;
  top:42px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:44px;
  top:368px;
  width:63px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:100px;
}
#u76 {
  position:absolute;
  left:2px;
  top:42px;
  width:59px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:107px;
  top:368px;
  width:61px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:100px;
}
#u78 {
  position:absolute;
  left:2px;
  top:42px;
  width:57px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:168px;
  top:368px;
  width:91px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:100px;
}
#u80 {
  position:absolute;
  left:2px;
  top:42px;
  width:87px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:259px;
  top:368px;
  width:137px;
  height:100px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:100px;
}
#u82 {
  position:absolute;
  left:2px;
  top:42px;
  width:133px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:396px;
  top:368px;
  width:99px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:100px;
}
#u84 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:495px;
  top:368px;
  width:98px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:100px;
}
#u86 {
  position:absolute;
  left:2px;
  top:42px;
  width:94px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:593px;
  top:368px;
  width:63px;
  height:100px;
  color:#000000;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:100px;
}
#u88 {
  position:absolute;
  left:2px;
  top:42px;
  width:59px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:656px;
  top:368px;
  width:95px;
  height:100px;
  color:#0000FF;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#u90 {
  position:absolute;
  left:2px;
  top:42px;
  width:91px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:513px;
  top:633px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u93 {
  position:absolute;
  left:2px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:449px;
  top:633px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u95 {
  position:absolute;
  left:2px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:405px;
  top:633px;
  width:34px;
  height:17px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u97 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:361px;
  top:633px;
  width:34px;
  height:17px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u99 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:317px;
  top:633px;
  width:34px;
  height:17px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:254px;
  top:633px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:190px;
  top:633px;
  width:54px;
  height:17px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u105 {
  position:absolute;
  left:2px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:20px;
  top:20px;
  width:753px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:80px;
}
#u107 {
  position:absolute;
  left:0px;
  top:32px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:290px;
  top:35px;
  width:66px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:608px;
  top:33px;
  width:150px;
  height:22px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u110_input {
  font-family:'应用字体';
}
#u110_input:disabled {
  color:grayText;
}
#u111 {
  position:absolute;
  left:532px;
  top:35px;
  width:67px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:677px;
  top:66px;
  width:80px;
  height:20px;
  font-size:15px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:366px;
  top:33px;
  width:141px;
  height:22px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u115_input {
  font-family:'应用字体';
}
#u115_input:disabled {
  color:grayText;
}
#u116 {
  position:absolute;
  left:36px;
  top:69px;
  width:66px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:112px;
  top:66px;
  width:150px;
  height:22px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u118_input {
  font-family:'应用字体';
}
#u119 {
  position:absolute;
  left:36px;
  top:37px;
  width:66px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:112px;
  top:33px;
  width:150px;
  height:22px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121_input {
  font-family:'应用字体';
}
#u122 {
  position:absolute;
  left:22px;
  top:117px;
  width:86px;
  height:16px;
}
#u123 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u122_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  position:absolute;
  left:33px;
  top:237px;
  width:13px;
  height:16px;
}
#u125 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126 {
  position:absolute;
  left:101px;
  top:115px;
  width:83px;
  height:19px;
  font-size:11px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:197px;
  top:115px;
  width:83px;
  height:19px;
  font-size:11px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:33px;
  top:328px;
  width:13px;
  height:16px;
}
#u131 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u132 {
  position:absolute;
  left:33px;
  top:415px;
  width:13px;
  height:16px;
}
#u133 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u134 {
  position:absolute;
  left:33px;
  top:491px;
  width:13px;
  height:16px;
}
#u135 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u136 {
  position:absolute;
  left:33px;
  top:582px;
  width:13px;
  height:16px;
}
#u137 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u138 {
  position:absolute;
  left:515px;
  top:114px;
  width:112px;
  height:17px;
  font-size:15px;
  color:#008000;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:620px;
  top:114px;
  width:153px;
  height:17px;
  font-size:15px;
  color:#FF0000;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:17px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u142 {
  position:fixed;
  left:50%;
  margin-left:-176px;
  top:50%;
  margin-top:-180px;
  visibility:hidden;
}
#u142_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u142_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:360px;
  font-size:15px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:360px;
}
#u144 {
  position:absolute;
  left:2px;
  top:172px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:14px;
  top:12px;
  width:127px;
  height:17px;
  font-size:15px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:0px;
  top:34px;
  width:318px;
  height:10px;
}
#u147_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u147_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u147_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u148 {
  position:absolute;
  left:297px;
  top:10px;
  width:18px;
  height:17px;
  font-size:15px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:14px;
  top:64px;
  width:84px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:108px;
  top:60px;
  width:188px;
  height:25px;
}
#u152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u152_input {
  font-family:'应用字体';
}
#u152_input:disabled {
  color:grayText;
}
#u153 {
  position:absolute;
  left:14px;
  top:98px;
  width:84px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:108px;
  top:98px;
  width:132px;
  height:16px;
}
#u156 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u155_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u157 {
  position:absolute;
  left:108px;
  top:124px;
  width:132px;
  height:16px;
}
#u158 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u157_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u159 {
  position:absolute;
  left:108px;
  top:149px;
  width:132px;
  height:16px;
}
#u160 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u159_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u161 {
  position:absolute;
  left:108px;
  top:175px;
  width:132px;
  height:16px;
}
#u162 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u161_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u163 {
  position:absolute;
  left:108px;
  top:201px;
  width:132px;
  height:16px;
}
#u164 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u163_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u165 {
  position:absolute;
  left:108px;
  top:226px;
  width:132px;
  height:16px;
}
#u166 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u167 {
  position:absolute;
  left:108px;
  top:252px;
  width:132px;
  height:16px;
}
#u168 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u169 {
  position:absolute;
  left:108px;
  top:277px;
  width:132px;
  height:16px;
}
#u170 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u169_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u171 {
  position:absolute;
  left:0px;
  top:299px;
  width:318px;
  height:10px;
}
#u171_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u171_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u171_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u172 {
  position:absolute;
  left:189px;
  top:320px;
  width:51px;
  height:30px;
  font-size:15px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u173 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:255px;
  top:320px;
  width:51px;
  height:30px;
  font-size:15px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u175 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:220px;
  top:95px;
  width:132px;
  height:16px;
}
#u177 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u176_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u178 {
  position:absolute;
  left:220px;
  top:121px;
  width:132px;
  height:16px;
}
#u179 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u178_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u180 {
  position:absolute;
  left:220px;
  top:146px;
  width:132px;
  height:16px;
}
#u181 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u180_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u182 {
  position:absolute;
  left:220px;
  top:172px;
  width:132px;
  height:16px;
}
#u183 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u182_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u184 {
  position:absolute;
  left:220px;
  top:198px;
  width:132px;
  height:16px;
}
#u185 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u184_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u186 {
  position:absolute;
  left:220px;
  top:223px;
  width:132px;
  height:16px;
}
#u187 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u186_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u188 {
  position:absolute;
  left:220px;
  top:249px;
  width:132px;
  height:16px;
}
#u189 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u188_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u190 {
  position:absolute;
  left:220px;
  top:274px;
  width:132px;
  height:16px;
}
#u191 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u190_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u192 {
  position:absolute;
  left:697px;
  top:251px;
  width:58px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  position:absolute;
  left:696px;
  top:233px;
  width:58px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u194 {
  position:fixed;
  left:50%;
  margin-left:-165px;
  top:50%;
  margin-top:-84.5px;
  visibility:hidden;
}
#u194_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u194_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:169px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:169px;
}
#u196 {
  position:absolute;
  left:2px;
  top:76px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:8px;
  top:36px;
  width:310px;
  height:10px;
}
#u197_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u197_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u197_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u198 {
  position:absolute;
  left:8px;
  top:117px;
  width:310px;
  height:10px;
}
#u198_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u198_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u198_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u199 {
  position:absolute;
  left:8px;
  top:67px;
  width:310px;
  height:21px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:21px;
}
#u200 {
  position:absolute;
  left:0px;
  top:2px;
  width:310px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:257px;
  top:135px;
  width:63px;
  height:24px;
  font-size:10px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u202 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:184px;
  top:135px;
  width:63px;
  height:24px;
  font-size:10px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u204 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:304px;
  top:11px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:11px;
  top:10px;
  width:310px;
  height:21px;
  color:#000000;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:21px;
}
#u208 {
  position:absolute;
  left:0px;
  top:2px;
  width:310px;
  word-wrap:break-word;
}
#u194_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u194_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:169px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:169px;
}
#u210 {
  position:absolute;
  left:2px;
  top:76px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:8px;
  top:36px;
  width:310px;
  height:10px;
}
#u211_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u211_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u211_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u212 {
  position:absolute;
  left:8px;
  top:117px;
  width:310px;
  height:10px;
}
#u212_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u212_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u212_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u213 {
  position:absolute;
  left:8px;
  top:67px;
  width:310px;
  height:21px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:21px;
}
#u214 {
  position:absolute;
  left:0px;
  top:2px;
  width:310px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:257px;
  top:135px;
  width:63px;
  height:24px;
  font-size:10px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u216 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:184px;
  top:135px;
  width:63px;
  height:24px;
  font-size:10px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u218 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:304px;
  top:11px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:11px;
  top:10px;
  width:310px;
  height:21px;
  color:#000000;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:21px;
}
#u222 {
  position:absolute;
  left:0px;
  top:2px;
  width:310px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:697px;
  top:337px;
  width:58px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u224 {
  position:absolute;
  left:290px;
  top:66px;
  width:66px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:366px;
  top:66px;
  width:141px;
  height:22px;
}
#u226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u226_input {
  font-family:'应用字体';
}
#u226_input:disabled {
  color:grayText;
}
#u227 {
  position:absolute;
  left:697px;
  top:267px;
  width:58px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u228 {
  position:fixed;
  left:50%;
  margin-left:-162px;
  top:50%;
  margin-top:-110px;
  visibility:hidden;
}
#u228_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u228_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:220px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:220px;
}
#u230 {
  position:absolute;
  left:2px;
  top:102px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:90px;
  top:186px;
  width:52px;
  height:20px;
  font-size:9px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u232 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:132px;
  top:6px;
  width:60px;
  height:16px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:174px;
  top:186px;
  width:52px;
  height:20px;
  font-size:9px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u236 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:9px;
  top:30px;
  width:306px;
  height:146px;
}
#u237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:146px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u237_input {
  font-family:'应用字体';
}
#u228_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u228_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:220px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:220px;
}
#u239 {
  position:absolute;
  left:2px;
  top:102px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:90px;
  top:186px;
  width:52px;
  height:20px;
  font-size:9px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u241 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:132px;
  top:6px;
  width:60px;
  height:16px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:174px;
  top:186px;
  width:52px;
  height:20px;
  font-size:9px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u245 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:9px;
  top:30px;
  width:306px;
  height:146px;
}
#u246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:146px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u246_input {
  font-family:'应用字体';
}
#u247 {
  position:absolute;
  left:697px;
  top:367px;
  width:58px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
