body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:100px;
  width:440px;
  height:370px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:370px;
}
#u1 {
  position:absolute;
  left:2px;
  top:177px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:140px;
  top:120px;
  width:400px;
  height:250px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:250px;
}
#u3 {
  position:absolute;
  left:2px;
  top:117px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:153px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:150px;
  top:201px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:150px;
  top:250px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:150px;
  top:300px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:195px;
  top:390px;
  width:270px;
  height:55px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:55px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:28px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:250px;
  top:152px;
  width:270px;
  height:30px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:250px;
  top:199px;
  width:270px;
  height:30px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:250px;
  top:248px;
  width:270px;
  height:30px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:250px;
  top:297px;
  width:270px;
  height:30px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
