body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:556px;
}
#u3627 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:556px;
}
#u3628 {
  position:absolute;
  left:2px;
  top:270px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3629 {
  position:absolute;
  left:0px;
  top:576px;
  width:313px;
  height:150px;
}
#u3630 {
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3631 {
  position:absolute;
  left:13px;
  top:587px;
  width:300px;
  height:16px;
}
#u3632 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3633 {
  position:absolute;
  left:360px;
  top:8px;
  width:313px;
  height:150px;
}
#u3634 {
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3635 {
  position:absolute;
  left:378px;
  top:20px;
  width:277px;
  height:80px;
}
#u3636 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u3637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3637 {
  position:absolute;
  left:360px;
  top:180px;
  width:313px;
  height:150px;
}
#u3638 {
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3639 {
  position:absolute;
  left:378px;
  top:207px;
  width:277px;
  height:32px;
}
#u3640 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
