body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1902px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1902px;
  height:1414px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1902px;
  height:1414px;
}
#u2 {
  position:absolute;
  left:2px;
  top:699px;
  width:1898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1902px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:1906px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:1898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:1414px;
  color:#788195;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:1414px;
}
#u6 {
  position:absolute;
  left:2px;
  top:699px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:120px;
  width:250px;
  height:50px;
  color:#788195;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:172px;
  width:250px;
  height:51px;
  color:#788195;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:51px;
}
#u10 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:216px;
  width:250px;
  height:51px;
  color:#788195;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:51px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:268px;
  width:250px;
  height:50px;
  color:#788195;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:319px;
  width:250px;
  height:51px;
  color:#788195;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:51px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:30px;
  top:136px;
  width:53px;
  height:16px;
  color:#788195;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:154px;
  top:132px;
  width:21px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#788195;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:183px;
  top:118px;
  width:44px;
  height:45px;
  color:#788195;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:411px;
  width:66px;
  height:16px;
  color:#788195;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:154px;
  top:404px;
  width:21px;
  height:23px;
  color:#788195;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:185px;
  top:398px;
  width:40px;
  height:40px;
  color:#788195;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:195px;
  top:407px;
  width:20px;
  height:20px;
  color:#788195;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:462px;
  width:53px;
  height:16px;
  color:#788195;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:185px;
  top:449px;
  width:40px;
  height:40px;
  color:#788195;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:195px;
  top:459px;
  width:20px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:154px;
  top:455px;
  width:21px;
  height:23px;
  color:#788195;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:30px;
  top:513px;
  width:53px;
  height:16px;
  color:#788195;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:185px;
  top:500px;
  width:40px;
  height:40px;
  color:#788195;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:154px;
  top:506px;
  width:21px;
  height:23px;
  color:#788195;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:195px;
  top:509px;
  width:20px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:61px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:160px;
  top:15px;
  width:69px;
  height:31px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:25px;
  top:16px;
  width:138px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:27px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:1710px;
  top:1px;
  width:182px;
  height:49px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:49px;
}
#u54 {
  position:absolute;
  left:2px;
  top:16px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:23px;
  top:79px;
  width:202px;
  height:35px;
  color:#C9C9C9;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:35px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:30px;
  top:563px;
  width:53px;
  height:16px;
  color:#788195;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:185px;
  top:550px;
  width:40px;
  height:40px;
  color:#788195;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:154px;
  top:556px;
  width:21px;
  height:23px;
  color:#788195;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:195px;
  top:560px;
  width:20px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:218px;
  top:116px;
  width:26px;
  height:18px;
  color:#FFFFFF;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:1px;
  width:26px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:168px;
  width:249px;
  height:220px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:220px;
}
#u68 {
  position:absolute;
  left:2px;
  top:102px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:40px;
  top:195px;
  width:177px;
  height:16px;
  color:#788195;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:39px;
  top:237px;
  width:177px;
  height:16px;
  color:#788195;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:189px;
  top:185px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#788195;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:189px;
  top:230px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#788195;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:215px;
  top:178px;
  width:25px;
  height:18px;
  color:#FFFFFF;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:1px;
  width:25px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:216px;
  top:224px;
  width:18px;
  height:18px;
  color:#FFFFFF;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u80 {
  position:absolute;
  left:0px;
  top:1px;
  width:18px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:39px;
  top:293px;
  width:177px;
  height:16px;
  color:#788195;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:189px;
  top:283px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#788195;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:216px;
  top:277px;
  width:18px;
  height:18px;
  color:#FFFFFF;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:1px;
  width:18px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:39px;
  top:347px;
  width:177px;
  height:16px;
  color:#788195;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:189px;
  top:336px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#788195;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:216px;
  top:328px;
  width:18px;
  height:18px;
  color:#FFFFFF;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u92 {
  position:absolute;
  left:0px;
  top:1px;
  width:18px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:288px;
  top:102px;
  width:1206px;
  height:820px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:820px;
}
#u94 {
  position:absolute;
  left:2px;
  top:402px;
  width:1202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:612px;
  top:638px;
  width:248px;
  height:55px;
  color:#10CFBD;
  text-align:left;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:55px;
}
#u96 {
  position:absolute;
  left:2px;
  top:37px;
  width:244px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:625px;
  top:330px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:910px;
  top:542px;
  width:560px;
  height:373px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:373px;
}
#u100 {
  position:absolute;
  left:2px;
  top:178px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:623px;
  top:648px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#10CFBD;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:336px;
  top:708px;
  width:523px;
  height:55px;
  color:#10CFBD;
  text-align:left;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:55px;
}
#u104 {
  position:absolute;
  left:2px;
  top:37px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:926px;
  top:574px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#10CFBD;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:347px;
  top:712px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#000000;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:347px;
  top:735px;
  width:50px;
  height:22px;
  font-size:12px;
  text-align:right;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u110 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:352px;
  top:737px;
  width:8px;
  height:17px;
  font-family:'Century Gothic Negreta', 'Century Gothic';
  font-weight:700;
  color:#000000;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:17px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:407px;
  top:735px;
  width:89px;
  height:22px;
  font-size:12px;
  text-align:right;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u114 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:412px;
  top:737px;
  width:8px;
  height:17px;
  font-family:'Century Gothic Negreta', 'Century Gothic';
  font-weight:700;
  color:#000000;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:17px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:918px;
  top:550px;
  width:533px;
  height:240px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:240px;
}
#u118 {
  position:absolute;
  left:2px;
  top:112px;
  width:529px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:620px;
  top:768px;
  width:240px;
  height:16px;
  color:#10CFBD;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:288px;
  top:959px;
  width:1270px;
  height:10px;
}
#u121_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_end {
  position:absolute;
  left:1253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1270px;
  height:2px;
}
#u122 {
  position:absolute;
  left:288px;
  top:932px;
  width:52px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#666666;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:288px;
  top:979px;
  width:1012px;
  height:111px;
  font-family:'宋体 常规', '宋体';
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:111px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:288px;
  top:1072px;
  width:1012px;
  height:252px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:252px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:318px;
  top:110px;
  width:560px;
  height:70px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:70px;
}
#u129 {
  position:absolute;
  left:2px;
  top:27px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:331px;
  top:124px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
