body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:100px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:550px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:550px;
}
#u2 {
  position:absolute;
  left:0px;
  top:267px;
  width:1270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:210px;
  top:487px;
  width:200px;
  height:30px;
  font-size:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:26px;
  top:30px;
  width:1220px;
  height:497px;
  font-size:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:497px;
}
#u6 {
  position:absolute;
  left:2px;
  top:240px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:418px;
  top:154px;
  width:275px;
  height:31px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8 {
  position:absolute;
  left:145px;
  top:259px;
  width:70px;
  height:31px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
  background-image:;
  text-align:center;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:226px;
  top:259px;
  width:75px;
  height:31px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background-image:;
  text-align:center;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10 {
  position:absolute;
  left:144px;
  top:429px;
  width:136px;
  height:31px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:173px;
  top:479px;
  width:111px;
  height:33px;
  font-size:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:53px;
  top:158px;
  width:84px;
  height:22px;
  font-size:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:53px;
  top:61px;
  width:88px;
  height:17px;
  font-size:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:324px;
  top:161px;
  width:84px;
  height:17px;
  font-size:15px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:40px;
  top:266px;
  width:88px;
  height:17px;
  font-size:15px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:324px;
  top:324px;
  width:88px;
  height:17px;
  font-size:15px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:144px;
  top:372px;
  width:549px;
  height:31px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u24 {
  position:absolute;
  left:53px;
  top:379px;
  width:84px;
  height:17px;
  font-size:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:53px;
  top:436px;
  width:84px;
  height:17px;
  font-size:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:324px;
  top:436px;
  width:88px;
  height:17px;
  font-size:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:52px;
  top:479px;
  width:94px;
  height:33px;
  font-size:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:418px;
  top:317px;
  width:123px;
  height:31px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:31px;
  background-image:;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33 {
  position:absolute;
  left:548px;
  top:317px;
  width:145px;
  height:31px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
  background-image:;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34 {
  position:absolute;
  left:145px;
  top:154px;
  width:155px;
  height:31px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
  background-image:;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35 {
  position:absolute;
  left:142px;
  top:54px;
  width:549px;
  height:31px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36 {
  position:absolute;
  left:420px;
  top:429px;
  width:221px;
  height:31px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37 {
  position:absolute;
  left:644px;
  top:430px;
  width:52px;
  height:29px;
  font-size:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:418px;
  top:207px;
  width:120px;
  height:31px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40 {
  position:absolute;
  left:548px;
  top:207px;
  width:145px;
  height:31px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41 {
  position:absolute;
  left:324px;
  top:212px;
  width:88px;
  height:17px;
  font-size:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:53px;
  top:323px;
  width:80px;
  height:17px;
  font-size:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:727px;
  top:55px;
  width:491px;
  height:406px;
  overflow:hidden;
}
#u45_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:406px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:33px;
  width:491px;
  height:340px;
  font-size:15px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:340px;
}
#u47 {
  position:absolute;
  left:2px;
  top:162px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:35px;
  width:489px;
  height:372px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:372px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u45_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:406px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:30px;
  top:2px;
  width:145px;
  height:24px;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:36px;
  width:491px;
  height:370px;
  font-size:15px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:370px;
}
#u54 {
  position:absolute;
  left:2px;
  top:177px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:24px;
  top:67px;
  width:119px;
  height:31px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u56 {
  position:absolute;
  left:24px;
  top:137px;
  width:119px;
  height:31px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u57 {
  position:absolute;
  left:24px;
  top:206px;
  width:119px;
  height:31px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u58 {
  position:absolute;
  left:24px;
  top:276px;
  width:119px;
  height:31px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u59 {
  position:absolute;
  left:24px;
  top:348px;
  width:119px;
  height:31px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u60 {
  position:absolute;
  left:188px;
  top:67px;
  width:119px;
  height:31px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u61 {
  position:absolute;
  left:188px;
  top:137px;
  width:119px;
  height:31px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62 {
  position:absolute;
  left:188px;
  top:206px;
  width:119px;
  height:31px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u63 {
  position:absolute;
  left:188px;
  top:278px;
  width:119px;
  height:31px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u64 {
  position:absolute;
  left:188px;
  top:348px;
  width:119px;
  height:31px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u65 {
  position:absolute;
  left:348px;
  top:67px;
  width:119px;
  height:31px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u66 {
  position:absolute;
  left:348px;
  top:137px;
  width:119px;
  height:31px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u67 {
  position:absolute;
  left:348px;
  top:206px;
  width:119px;
  height:31px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u68 {
  position:absolute;
  left:348px;
  top:278px;
  width:119px;
  height:31px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u69 {
  position:absolute;
  left:348px;
  top:348px;
  width:119px;
  height:31px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u70 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  height:26px;
  font-size:15px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:144px;
  top:317px;
  width:156px;
  height:31px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:31px;
  background-image:;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u73 {
  position:absolute;
  left:52px;
  top:105px;
  width:84px;
  height:30px;
  font-size:15px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u74 {
  position:absolute;
  left:0px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:548px;
  top:105px;
}
#u75_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
  background-image:;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u75_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u75_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u78 {
  position:absolute;
  left:0px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:324px;
  top:106px;
  width:84px;
  height:29px;
  font-size:15px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:29px;
}
#u80 {
  position:absolute;
  left:0px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:418px;
  top:105px;
  width:120px;
  height:31px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u82 {
  position:absolute;
  left:146px;
  top:105px;
  width:154px;
  height:31px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
  background-image:;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u83 {
  position:absolute;
  left:145px;
  top:207px;
  width:155px;
  height:31px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
  background-image:;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u84 {
  position:absolute;
  left:326px;
  top:259px;
  width:79px;
  height:31px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-image:;
  text-align:center;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u85 {
  position:absolute;
  left:416px;
  top:259px;
  width:85px;
  height:31px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
  background-image:;
  text-align:center;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u86 {
  position:absolute;
  left:528px;
  top:259px;
  width:74px;
  height:31px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
  background-image:;
  text-align:center;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u87 {
  position:absolute;
  left:612px;
  top:259px;
  width:79px;
  height:31px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-image:;
  text-align:center;
  font-family:'Arial';
  font-size:15px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u88 {
  position:absolute;
  left:53px;
  top:213px;
  width:84px;
  height:22px;
  font-size:15px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:20px;
  top:717px;
  width:1270px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:1253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1270px;
  height:2px;
}
#u91 {
  position:absolute;
  left:20px;
  top:690px;
  width:52px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#666666;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:20px;
  top:737px;
  width:414px;
  height:194px;
  font-family:'宋体 Regular', '宋体';
  font-size:15px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:194px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:448px;
  top:737px;
  width:414px;
  height:194px;
  font-family:'宋体 Regular', '宋体';
  font-size:15px;
  color:#000000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:194px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:876px;
  top:737px;
  width:414px;
  height:194px;
  font-family:'宋体 Regular', '宋体';
  font-size:14px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:194px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
