body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1210px;
  top:664px;
  width:330px;
  height:631px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:632px;
}
#u1 {
  position:absolute;
  left:2px;
  top:308px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1210px;
  top:1514px;
  width:330px;
  height:690px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:691px;
}
#u3 {
  position:absolute;
  left:2px;
  top:337px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1210px;
  top:1514px;
  width:330px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:866px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:867px;
}
#u7 {
  position:absolute;
  left:2px;
  top:425px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:38px;
  top:128px;
  width:170px;
  height:333px;
}
#u8_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:176px;
  height:339px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:338px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:57px;
  font-size:14px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:58px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:57px;
  width:170px;
  height:56px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:57px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:113px;
  width:170px;
  height:55px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
}
#u15 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:168px;
  width:170px;
  height:55px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:223px;
  width:170px;
  height:55px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:278px;
  width:170px;
  height:55px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:31px;
  top:125px;
  width:183px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:194px;
  height:71px;
}
#u23 {
  position:absolute;
  left:2px;
  top:20px;
  width:179px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:224px;
  top:125px;
  width:808px;
  height:625px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:626px;
}
#u25 {
  position:absolute;
  left:2px;
  top:304px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:783px;
  width:1074px;
  height:83px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:84px;
}
#u27 {
  position:absolute;
  left:2px;
  top:34px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:86px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:87px;
}
#u29 {
  position:absolute;
  left:2px;
  top:35px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:224px;
  top:480px;
  width:806px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:797px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:806px;
  height:1px;
}
#u31 {
  position:absolute;
  left:300px;
  top:249px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#6B7C9C;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:496px;
  top:249px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:252px;
  top:285px;
  width:318px;
  height:87px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:87px;
}
#u36 {
  position:absolute;
  left:2px;
  top:36px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:336px;
  top:310px;
  width:141px;
  height:16px;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:252px;
  top:394px;
  width:318px;
  height:87px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:87px;
}
#u40 {
  position:absolute;
  left:2px;
  top:36px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:336px;
  top:419px;
  width:149px;
  height:16px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:1093px;
  top:125px;
  width:370px;
  height:491px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:492px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:922px;
  top:299px;
  width:100px;
  height:59px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:224px;
  top:222px;
  width:808px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:799px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:808px;
  height:1px;
}
#u48 {
  position:absolute;
  left:252px;
  top:152px;
  width:155px;
  height:48px;
  font-size:18px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:49px;
}
#u49 {
  position:absolute;
  left:2px;
  top:13px;
  width:151px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:224px;
  top:275px;
  width:808px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:799px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:808px;
  height:1px;
}
#u51 {
  position:absolute;
  left:260px;
  top:277px;
  width:130px;
  height:3px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:4px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-6px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:922px;
  top:404px;
  width:100px;
  height:59px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u54 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:224px;
  top:374px;
  width:808px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:799px;
  top:-5px;
  width:14px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:808px;
  height:1px;
}
#u56 {
  position:absolute;
  left:1238px;
  top:1928px;
  width:274px;
  height:32px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:33px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1263px;
  top:1850px;
  width:237px;
  height:50px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:51px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:233px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1236px;
  top:923px;
  width:242px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1310px;
  top:1970px;
  width:130px;
  height:100px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:101px;
}
#u63 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1210px;
  top:664px;
  width:330px;
  height:40px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:41px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1490px;
  top:457px;
  width:405px;
  height:64px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:65px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1550px;
  top:800px;
  width:278px;
  height:48px;
  color:#FF0000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:49px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1242px;
  top:897px;
  width:27px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1292px;
  top:881px;
  width:222px;
  height:42px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:43px;
}
#u73 {
  position:absolute;
  left:2px;
  top:13px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1242px;
  top:960px;
  width:40px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1292px;
  top:944px;
  width:222px;
  height:42px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:43px;
}
#u77 {
  position:absolute;
  left:2px;
  top:13px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1242px;
  top:1018px;
  width:40px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1292px;
  top:1002px;
  width:222px;
  height:42px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:43px;
}
#u81 {
  position:absolute;
  left:2px;
  top:13px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:1400px;
  top:1002px;
  width:115px;
  height:42px;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:43px;
}
#u83 {
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1242px;
  top:1097px;
  width:272px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:53px;
}
#u85 {
  position:absolute;
  left:2px;
  top:15px;
  width:268px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:1335px;
  top:1610px;
  width:80px;
  height:80px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u87 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1348px;
  top:1724px;
  width:53px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:1490px;
  top:521px;
  width:130px;
  height:128px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:128px;
}
#u91 {
  position:absolute;
  left:2px;
  top:56px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1310px;
  top:1321px;
  width:129px;
  height:121px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:121px;
}
#u93 {
  position:absolute;
  left:2px;
  top:52px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1564px;
  top:935px;
  width:246px;
  height:160px;
  color:#FF0000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:161px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1886px;
  top:695px;
  width:324px;
  height:575px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:575px;
}
#u97 {
  position:absolute;
  left:2px;
  top:280px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1251px;
  top:741px;
  width:260px;
  height:80px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:80px;
}
#u99 {
  position:absolute;
  left:2px;
  top:32px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1252px;
  top:821px;
  width:260px;
  height:24px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:24px;
}
#u101 {
  position:absolute;
  left:2px;
  top:4px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1240px;
  top:735px;
  width:272px;
  height:125px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:126px;
}
#u103 {
  position:absolute;
  left:2px;
  top:54px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1251px;
  top:1824px;
  width:275px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:17px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1211px;
  top:1170px;
  width:329px;
  height:124px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:124px;
}
#u107 {
  position:absolute;
  left:2px;
  top:54px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:1211px;
  top:2080px;
  width:329px;
  height:124px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:124px;
}
#u109 {
  position:absolute;
  left:2px;
  top:54px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:886px;
  top:344px;
}
#u110_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u110_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:126px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:126px;
}
#u112 {
  position:absolute;
  left:2px;
  top:55px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:83px;
  width:124px;
  height:126px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:126px;
}
#u114 {
  position:absolute;
  left:2px;
  top:55px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1px;
  top:81px;
  width:117px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#00BCD4;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u116 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1px;
  top:41px;
  width:117px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#00BCD4;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u118 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:972px;
  top:308px;
  width:43px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u120 {
  position:absolute;
  left:0px;
  top:85px;
  width:1075px;
  height:698px;
  overflow:hidden;
  visibility:hidden;
}
#u120_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:698px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u120_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u121 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1080px;
  height:891px;
  opacity:0.3;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:892px;
}
#u122 {
  position:absolute;
  left:2px;
  top:438px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:443px;
  top:262px;
  width:307px;
  height:238px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:239px;
}
#u124 {
  position:absolute;
  left:2px;
  top:111px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:532px;
  top:340px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:720px;
  top:280px;
  width:20px;
  height:16px;
  color:#999999;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:620px;
  top:415px;
  width:100px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:491px;
  top:415px;
  width:100px;
  height:32px;
  font-size:16px;
  color:#666666;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u132 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:85px;
  width:1075px;
  height:698px;
  overflow:hidden;
}
#u133_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:698px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u133_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u134 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1080px;
  height:701px;
  opacity:0.3;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:702px;
}
#u135 {
  position:absolute;
  left:2px;
  top:342px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:340px;
  top:160px;
  width:510px;
  height:310px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:311px;
}
#u137 {
  position:absolute;
  left:2px;
  top:147px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:790px;
  top:174px;
  width:40px;
  height:26px;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u139 {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:790px;
  top:174px;
  width:40px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141 {
  position:absolute;
  left:635px;
  top:390px;
  width:180px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:45px;
}
#u142 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:375px;
  top:230px;
  width:440px;
  height:140px;
  text-decoration:underline;
  color:#0066FF;
}
#u143_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:451px;
  height:151px;
}
#u144 {
  position:absolute;
  left:2px;
  top:62px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:392px;
  top:270px;
  width:405px;
  height:64px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:65px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:375px;
  top:191px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
