body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:910px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:120px;
  width:915px;
  height:131px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:60px;
  top:0px;
  width:62px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:37px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:122px;
  top:0px;
  width:63px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:185px;
  top:0px;
  width:70px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:37px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:255px;
  top:0px;
  width:59px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:37px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:314px;
  top:0px;
  width:63px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:377px;
  top:0px;
  width:64px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:441px;
  top:0px;
  width:64px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:505px;
  top:0px;
  width:75px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:37px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:580px;
  top:0px;
  width:71px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:651px;
  top:0px;
  width:64px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:715px;
  top:0px;
  width:64px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:779px;
  top:0px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:844px;
  top:0px;
  width:66px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:37px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:37px;
  width:60px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:60px;
  top:37px;
  width:62px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:122px;
  top:37px;
  width:63px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:185px;
  top:37px;
  width:70px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:255px;
  top:37px;
  width:59px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:314px;
  top:37px;
  width:63px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:377px;
  top:37px;
  width:64px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:441px;
  top:37px;
  width:64px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:505px;
  top:37px;
  width:75px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:580px;
  top:37px;
  width:71px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:651px;
  top:37px;
  width:64px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:715px;
  top:37px;
  width:64px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:779px;
  top:37px;
  width:65px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:844px;
  top:37px;
  width:66px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:67px;
  width:60px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:60px;
  top:67px;
  width:62px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:122px;
  top:67px;
  width:63px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:185px;
  top:67px;
  width:70px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:255px;
  top:67px;
  width:59px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:314px;
  top:67px;
  width:63px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:377px;
  top:67px;
  width:64px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:441px;
  top:67px;
  width:64px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:505px;
  top:67px;
  width:75px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:580px;
  top:67px;
  width:71px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:651px;
  top:67px;
  width:64px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:715px;
  top:67px;
  width:64px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:779px;
  top:67px;
  width:65px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:844px;
  top:67px;
  width:66px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:97px;
  width:60px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u86 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:60px;
  top:97px;
  width:62px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:122px;
  top:97px;
  width:63px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:185px;
  top:97px;
  width:70px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:255px;
  top:97px;
  width:59px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:314px;
  top:97px;
  width:63px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:377px;
  top:97px;
  width:64px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u98 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:441px;
  top:97px;
  width:64px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u100 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:505px;
  top:97px;
  width:75px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:29px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:580px;
  top:97px;
  width:71px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:651px;
  top:97px;
  width:64px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u106 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:715px;
  top:97px;
  width:64px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u108 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:779px;
  top:97px;
  width:65px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
}
#u110 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:844px;
  top:97px;
  width:66px;
  height:29px;
  color:#000000;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:20px;
  top:20px;
  width:910px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:50px;
}
#u114 {
  position:absolute;
  left:0px;
  top:17px;
  width:910px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:177px;
  top:34px;
  width:55px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:70px;
  top:34px;
  width:43px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:123px;
  top:34px;
  width:43px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:33px;
  top:34px;
  width:26px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:243px;
  top:32px;
  width:79px;
  height:20px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u123_input {
  font-family:'应用字体';
}
#u123_input:disabled {
  color:grayText;
}
#u124 {
  position:absolute;
  left:384px;
  top:34px;
  width:55px;
  height:16px;
  color:#1E1E1E;
  text-align:right;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:439px;
  top:34px;
  width:93px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u127 {
  position:absolute;
  left:2px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:532px;
  top:34px;
  width:20px;
  height:16px;
  color:#1E1E1E;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:553px;
  top:34px;
  width:93px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u131 {
  position:absolute;
  left:2px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:657px;
  top:31px;
  width:70px;
  height:22px;
  color:#FFFFFF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
}
#u133 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:384px;
  top:34px;
  width:10px;
  height:16px;
}
#u134_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u134_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u134_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u135 {
  position:absolute;
  left:332px;
  top:34px;
  width:55px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:62px;
  top:34px;
  width:10px;
  height:16px;
}
#u137_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u137_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u137_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u138 {
  position:absolute;
  left:109px;
  top:34px;
  width:10px;
  height:16px;
}
#u138_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u138_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u138_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u139 {
  position:absolute;
  left:167px;
  top:34px;
  width:10px;
  height:16px;
}
#u139_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u139_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u139_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u140 {
  position:absolute;
  left:226px;
  top:34px;
  width:10px;
  height:16px;
}
#u140_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u140_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u140_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u141 {
  position:absolute;
  left:326px;
  top:34px;
  width:10px;
  height:16px;
}
#u141_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u141_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u141_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u142 {
  position:absolute;
  left:860px;
  top:79px;
  width:70px;
  height:22px;
  color:#FFFFFF;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
}
#u143 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
