body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:866px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:867px;
}
#u1 {
  position:absolute;
  left:2px;
  top:425px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:38px;
  top:128px;
  width:170px;
  height:223px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:176px;
  height:229px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:228px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:57px;
  font-size:14px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:57px;
  width:170px;
  height:56px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:57px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:113px;
  width:170px;
  height:55px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:168px;
  width:170px;
  height:55px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:31px;
  top:127px;
  width:183px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:194px;
  height:71px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:179px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:224px;
  top:125px;
  width:808px;
  height:625px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:626px;
}
#u15 {
  position:absolute;
  left:2px;
  top:304px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:783px;
  width:1074px;
  height:83px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:84px;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:86px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:87px;
}
#u19 {
  position:absolute;
  left:2px;
  top:35px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:224px;
  top:156px;
  width:808px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:799px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:808px;
  height:1px;
}
#u21 {
  position:absolute;
  left:1189px;
  top:231px;
  width:90px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:1297px;
  top:230px;
  width:90px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:1132px;
  top:252px;
  width:53px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:1285px;
  top:227px;
  width:8px;
  height:16px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1400px;
  top:230px;
  width:200px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u28 {
  position:absolute;
  left:224px;
  top:244px;
  width:808px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:799px;
  top:-5px;
  width:14px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:808px;
  height:1px;
}
#u29 {
  position:absolute;
  left:224px;
  top:284px;
  width:808px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:799px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:808px;
  height:1px;
}
#u30 {
  position:absolute;
  left:282px;
  top:258px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:400px;
  top:258px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:523px;
  top:258px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:670px;
  top:258px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:820px;
  top:258px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1270px;
  top:330px;
  width:50px;
  height:24px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:777px;
  top:132px;
  width:100px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u43 {
  position:absolute;
  left:240px;
  top:139px;
  width:79px;
  height:22px;
  font-size:18px;
  color:#00CCFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:319px;
  top:139px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:230px;
  top:181px;
  width:50px;
  height:50px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:902px;
  top:169px;
  width:110px;
  height:72px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:73px;
}
#u50 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:828px;
  top:181px;
  width:50px;
  height:50px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u52 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:903px;
  top:216px;
  width:109px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u54 {
  position:absolute;
  left:283px;
  top:172px;
  width:108px;
  height:70px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:71px;
}
#u55 {
  position:absolute;
  left:2px;
  top:27px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:391px;
  top:172px;
  width:108px;
  height:70px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:71px;
}
#u57 {
  position:absolute;
  left:2px;
  top:27px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:499px;
  top:172px;
  width:108px;
  height:70px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:71px;
}
#u59 {
  position:absolute;
  left:2px;
  top:27px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:607px;
  top:172px;
  width:108px;
  height:70px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:71px;
}
#u61 {
  position:absolute;
  left:2px;
  top:27px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:715px;
  top:172px;
  width:108px;
  height:70px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:71px;
}
#u63 {
  position:absolute;
  left:2px;
  top:27px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:321px;
  top:181px;
  width:27px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:424px;
  top:181px;
  width:59px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:530px;
  top:181px;
  width:59px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:641px;
  top:181px;
  width:52px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:743px;
  top:181px;
  width:52px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:308px;
  top:207px;
  width:53px;
  height:19px;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:423px;
  top:207px;
  width:44px;
  height:19px;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:533px;
  top:207px;
  width:44px;
  height:19px;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:640px;
  top:207px;
  width:44px;
  height:19px;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:748px;
  top:207px;
  width:44px;
  height:19px;
  font-size:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:910px;
  top:187px;
  width:53px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:679px;
  top:136px;
  width:92px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:887px;
  top:136px;
  width:139px;
  height:36px;
  font-size:14px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:853px;
  top:261px;
  width:53px;
  height:16px;
  color:#00CCFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
