body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1529px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:1050px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2934 {
  position:absolute;
  left:0px;
  top:-20px;
  width:1374px;
  height:1050px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:517px;
  width:1370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:83px;
  background:inherit;
  background-color:rgba(107, 124, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2936 {
  position:absolute;
  left:0px;
  top:947px;
  width:1374px;
  height:83px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:34px;
  width:1370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:86px;
  background:inherit;
  background-color:rgba(107, 124, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2938 {
  position:absolute;
  left:0px;
  top:-20px;
  width:1374px;
  height:86px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:35px;
  width:1370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:839px;
}
#u2940 {
  position:absolute;
  left:211px;
  top:76px;
  width:858px;
  height:839px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:412px;
  width:854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:270px;
  height:21px;
}
#u2942p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:262px;
  height:1px;
}
#u2942p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:274px;
  height:22px;
}
#u2942p001 {
  position:absolute;
  left:247px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2942p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2942.compound {
  width:0px;
  height:0px;
}
#u2942 {
  position:absolute;
  left:568px;
  top:884px;
  width:260px;
  height:1px;
}
#u2943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 200, 225, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Sinhala Regular', 'Noto Sans Sinhala';
  font-weight:400;
  font-style:normal;
}
#u2944 {
  position:absolute;
  left:468px;
  top:872px;
  width:100px;
  height:32px;
  font-family:'Noto Sans Sinhala Regular', 'Noto Sans Sinhala';
  font-weight:400;
  font-style:normal;
}
#u2945 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2946 {
  position:absolute;
  left:828px;
  top:572px;
  width:523px;
  height:458px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:221px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:2px;
}
#u2948 {
  position:absolute;
  left:828px;
  top:663px;
  width:523px;
  height:1px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:519px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2950 {
  position:absolute;
  left:851px;
  top:593px;
  width:490px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2951 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u2952 {
  position:absolute;
  left:851px;
  top:682px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u2953 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2952_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2954 {
  position:absolute;
  left:1040px;
  top:683px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u2955 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2954_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2956 {
  position:absolute;
  left:1219px;
  top:683px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u2957 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2956_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2958 {
  position:absolute;
  left:851px;
  top:724px;
  width:122px;
  height:19px;
  font-size:16px;
}
#u2959 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2958_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2960 {
  position:absolute;
  left:1219px;
  top:724px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u2961 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2960_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2962 {
  position:absolute;
  left:851px;
  top:753px;
  width:474px;
  height:170px;
}
#u2962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2962_input {
  font-family:'应用字体';
}
#u2963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2963 {
  position:absolute;
  left:1018px;
  top:967px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u2964 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Sinhala Regular', 'Noto Sans Sinhala';
  font-weight:400;
  font-style:normal;
}
#u2965 {
  position:absolute;
  left:468px;
  top:914px;
  width:100px;
  height:32px;
  font-family:'Noto Sans Sinhala Regular', 'Noto Sans Sinhala';
  font-weight:400;
  font-style:normal;
}
#u2966 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2967 {
  position:absolute;
  left:1039px;
  top:724px;
  width:122px;
  height:19px;
  font-size:16px;
}
#u2968 {
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2967_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2969 {
  position:absolute;
  left:1429px;
  top:753px;
  width:100px;
  height:32px;
  color:#0000FF;
}
#u2970 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u2971 {
  position:absolute;
  left:1343px;
  top:769px;
  width:85px;
  height:1px;
}
#u2972 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2973 {
  position:absolute;
  left:1429px;
  top:834px;
  width:100px;
  height:80px;
  color:#0000FF;
}
#u2974 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u2975 {
  position:absolute;
  left:1343px;
  top:874px;
  width:85px;
  height:1px;
}
#u2976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
