body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:956px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:604px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:604px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:952px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:440px;
  top:110px;
  width:40px;
  height:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
