body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:866px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:867px;
}
#u1 {
  position:absolute;
  left:2px;
  top:425px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:38px;
  top:128px;
  width:170px;
  height:278px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:176px;
  height:284px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:283px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:57px;
  font-size:14px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:57px;
  width:170px;
  height:56px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:57px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:113px;
  width:170px;
  height:55px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:168px;
  width:170px;
  height:55px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:223px;
  width:170px;
  height:55px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:56px;
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:31px;
  top:125px;
  width:183px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:194px;
  height:71px;
}
#u15 {
  position:absolute;
  left:2px;
  top:20px;
  width:179px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:224px;
  top:125px;
  width:808px;
  height:625px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:626px;
}
#u17 {
  position:absolute;
  left:2px;
  top:304px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:783px;
  width:1074px;
  height:83px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:84px;
}
#u19 {
  position:absolute;
  left:2px;
  top:34px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:86px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:87px;
}
#u21 {
  position:absolute;
  left:2px;
  top:35px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:224px;
  top:275px;
  width:808px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:799px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:808px;
  height:1px;
}
#u23 {
  position:absolute;
  left:224px;
  top:374px;
  width:808px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:799px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:808px;
  height:1px;
}
#u24 {
  position:absolute;
  left:224px;
  top:480px;
  width:806px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:797px;
  top:-5px;
  width:14px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:806px;
  height:1px;
}
#u25 {
  position:absolute;
  left:300px;
  top:249px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#6B7C9C;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:496px;
  top:249px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:835px;
  top:310px;
  width:65px;
  height:33px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:34px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:260px;
  top:277px;
  width:130px;
  height:3px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:4px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-6px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:252px;
  top:285px;
  width:318px;
  height:87px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:87px;
}
#u34 {
  position:absolute;
  left:2px;
  top:36px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:336px;
  top:310px;
  width:141px;
  height:16px;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:835px;
  top:421px;
  width:65px;
  height:33px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:34px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:252px;
  top:394px;
  width:318px;
  height:87px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:87px;
}
#u40 {
  position:absolute;
  left:2px;
  top:36px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:336px;
  top:419px;
  width:149px;
  height:16px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:920px;
  top:408px;
  width:100px;
  height:59px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1042px;
  top:145px;
  width:370px;
  height:315px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:316px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:920px;
  top:299px;
  width:100px;
  height:59px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:224px;
  top:222px;
  width:808px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:799px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:808px;
  height:1px;
}
#u50 {
  position:absolute;
  left:252px;
  top:152px;
  width:155px;
  height:48px;
  font-size:18px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:49px;
}
#u51 {
  position:absolute;
  left:2px;
  top:13px;
  width:151px;
  word-wrap:break-word;
}
